<div class="answerItem">
  <h4 class="answerAuthor">{{answer.author}} answered {{answer.date}}:</h4>
  <p>{{answer.content}}</p>


  {{new-like saveNewLike='saveNewLike' removeLike='removeLike' answer=model}}
</div>


<!-- {{#each model.likes as |like|}}
  {{like-tile like=like}}
{{/each}} -->
