<div class="questionItem">
  {{#link-to 'question' question.id}}{{question.content}}{{/link-to}}
  <hr>
  <p class="author">Asked by <em>{{question.author}}</em> on {{question.date}}</p>
  <p class="answerBottom">{{answered-question question}}{{answerCount}}</p>
</div>
